<h1>Create New Puppy Listing</h1>

<form method="post" action="/new">
  <p>Input the puppy's name:
  <input type="text" name="name"></p>
  <p>Input the puppy's breed:
  <input type="text" name="breed"></p>
  <p>Input the puppy's age:
  <input type="text" name="age"></p>
  <br>
  <!-- <input type="submit" name="submit"> -->
  <button type="submit" value="submit">Submit</button>
</form>
