<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Page</title>
 </head>
 <body>
  <h1>What a beautiful Pup!</h1>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %></p>

    <form>
    <input name="submit" type="submit" id = "submit">
  </form>
 </body>
</html>
